<div class="row">
    <div class="col-xl-6">
        <form [formGroup]="addEditForm" (ngSubmit)="onSubmit()" class="row g-3">
            <div class="col-md-6">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" formControlName="name"
                [ngClass]="{'is-invalid':name?.invalid && (name?.touched || name?.dirty || submitted)}">
                <div *ngIf="name!.errors" class="invalid-feedback">
                    <span *ngIf="name!.errors!['required']">Name is required.</span>
                </div>
            </div>
            <div class="col-md-6">
                <label for="job" class="form-label">Job</label>
                <input type="text" class="form-control" formControlName="job"
                [ngClass]="{'is-invalid':job?.invalid && (job?.touched || job?.dirty || submitted)}">
                <div *ngIf="job!.errors" class="invalid-feedback">
                    <span *ngIf="job!.errors!['required']">Job is required.</span>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>